<!DOCTYPE html>
<html lang="en">
  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> NSC</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
      <link rel="stylesheet" href="/css/swiper-bundle.min.css">
      <link rel="stylesheet" href="css/style.css" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
     


  <body id="secondpage">
    
    <header>
      <nav>
        <div class="nav_logo">
          <a href="#">
            <img src="https://supreme.swu.ac.th/img/logo_color.png" alt="Logo" />
            <h2>SWU</h2>
          </a>
        </div>

        <input type="checkbox" id="click" />
        <label for="click">
          <i class="menu_btn bx bx-menu"></i>
          <i class="close_btn bx bx-x"></i>
        </label>
      </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero_section">
      <div class="section_container">
        <div class="hero_container">
          <div class="text_section">
            <h2>Strategic Spendern</h2>
            <p>เพศชายทั้งหมด ได้รับวงเงินบัตรเครดิตระดับน้อยจนถึงปานกลางมียอดใช้จ่ายบัตรเครดิตน้อย และมีรายได้อยู่ในช่วงปานกลางถึงสูง</p>
          </div>

          <div class="image_section">
            <img  src="img/avatar-1.png" alt="" />
          </div>
        </div>
      </div>
    </section>

  

    <section class="services" id="service">
      <div class="section_container">
        <h3 class="card__name">แผนการการตลาดที่แนะนำ</h3>
        <div class="card__container swiper">
          <div class="card__content">
             <div class="swiper-wrapper">
                <article class="card__article swiper-slide">
                   <div class="card__image">
                      <img src="img/cluster0_01.png" alt="image" class="card__img">
                      <div class="card__shadow"></div>
                   </div>
    
                   <div class="card__data">
                      <p class="card__description">
                        แคมเปญลดอัตราดอกเบี้ยเมื่อใช้จ่ายถึงยอดที่กำหนด
                      </p>
                   </div>
                </article>
    
                <article class="card__article swiper-slide">
                   <div class="card__image">
                      <img src="img/cluster0_02.png" alt="image" class="card__img">
                      <div class="card__shadow"></div>
                   </div>
    
                   <div class="card__data">
                      <p class="card__description">
                        กระตุ้นการใช้จ่ายด้วยโปรแกรมสะสมคะแนนแลกรับของรางวัล
                      </p>

                   </div>
                </article>
    
                <article class="card__article swiper-slide">
                   <div class="card__image">
                      <img src="img/cluster0_03.png" alt="image" class="card__img">
                      <div class="card__shadow"></div>
                   </div>
    
                   <div class="card__data">
                      <p class="card__description">
                        เพิ่มวงเงินบัตรเครดิต ลูกค้าที่มีรายได้ระดับปานกลางขึ้นไปที่มีประวัติในการชำระหนี้ดี
                      </p>
                   </div>
                </article>

                <article class="card__article swiper-slide">
                   <div class="card__image">
                      <img src="img/cluster0_04.png" alt="image" class="card__img">
                      <div class="card__shadow"></div>
                   </div>
    
                   <div class="card__data">
                      <p class="card__description">
                        ร่วมรายการส่งเสริมการขายกับสินค้า หรือ บริการที่เหมาะกับเพศชาย
                      </p>
                   </div>
                </article>
             </div>
          </div>

          <!-- Navigation buttons -->
          <div class="swiper-button-next">
             <i class="ri-arrow-right-s-line"></i>
          </div>
          
          <div class="swiper-button-prev">
             <i class="ri-arrow-left-s-line"></i>
          </div>

          <!-- Pagination -->
          <div class="swiper-pagination"></div>
       </div>
      </div>
    </section>
  </body>
   <script src="js/swiper-bundle.min.js"></script>
   <script src="js/main.js"></script>
</html>
