<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> NSC</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/swiper-bundle.min.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
  <style>
    .text_section {
      display: inline-block;
      vertical-align: top;
      width: 60%;
      padding: 10px;
    }

    .image_section {
      display: inline-block;
      vertical-align: top;
      width: 35%;
      padding: 10px;
    }

    .image_section img {
      max-width: 100%;
      height: auto;
    }

    .container {
      display: flex;
      align-items: flex-start;
    }
  </style>
</head>



<body id="secondpage">

  <header>
    <nav>
      <div class="nav_logo">
        <a href="#">
          <img src="https://supreme.swu.ac.th/img/logo_color.png" alt="Logo" />
          <h2>SWU</h2>
        </a>
      </div>

      <input type="checkbox" id="click" />
      <label for="click">
        <i class="menu_btn bx bx-menu"></i>
        <i class="close_btn bx bx-x"></i>
      </label>
    </nav>
  </header>

  <!-- Hero Section -->
  <section class="hero_section">
    <div class="section_container">
      <div class="hero_container">
        {% if cluster is defined %}
        {% if cluster == 0 %}
        <div class="text_section">
          <h2>Strategic Spender</h2>
          <p>ลักษณะของกลุ่ม:<br />
            - ประกอบด้วยเพศชายทั้งหมด<br />
            - ได้รับวงเงินบัตรเครดิตตั้งแต่ระดับน้อยถึงปานกลาง<br />
            - มียอดใช้จ่ายผ่านบัตรเครดิตในระดับต่ำ<br />
            - มีรายได้อยู่ในช่วงปานกลางถึงสูง</p>
        </div>
        <div class="image_section">
          <img src="{{ url_for('static', filename='images/0.png') }}" alt="Strategic Spender" />
        </div>

        {% elif cluster == 1 %}
        <div class="text_section">
          <h2>Selective Spender</h2>
          <p>ลักษณะของกลุ่ม:<br />
            - ประกอบด้วยลูกค้าทั้งเพศชายและหญิง โดยมีเพศชายเป็นส่วนใหญ่<br />
            - ได้รับวงเงินบัตรเครดิตสูง<br />
            - มียอดใช้จ่ายผ่านบัตรเครดิตตั้งแต่ระดับต่ำถึงปานกลาง<br />
            - มีรายได้สูง</p>
        </div>
        <div class="image_section">
          <img src="{{ url_for('static', filename='images/1.png') }}" alt="Selective Spender" />
        </div>

        {% elif cluster == 2 %}
        <div class="text_section">
          <h2>Budget-Savvy Spender</h2>
          <p>ลักษณะของกลุ่ม:<br />
            - ประกอบด้วยลูกค้าทั้งเพศชายและหญิง โดยมีเพศหญิงเป็นส่วนใหญ่<br />
            - ได้รับวงเงินบัตรเครดิตน้อย<br />
            - มียอดใช้จ่ายผ่านบัตรเครดิตต่ำ<br />
            - มีรายได้ตั้งแต่ระดับน้อยถึงปานกลาง</p>
        </div>
        <div class="image_section">
          <img src="{{ url_for('static', filename='images/2.png') }}" alt="Budget-Savvy Spender" />
        </div>
        {% endif %}
        {% endif %}

      </div>
    </div>
  </section>



  <section class="services" id="service">
    <div class="section_container">
      <h3 class="card__name">แผนการการตลาดที่แนะนำ</h3>
      <div class="card__container swiper">
        <div class="card__content">
          {% if cluster is defined %}
          {% if cluster == 0 %}
          <div class="swiper-wrapper">
            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/0_1.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  แคมเปญลดอัตราดอกเบี้ยเมื่อใช้จ่ายถึงยอดที่กำหนด
                </p>
              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/0_2.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  กระตุ้นการใช้จ่ายด้วยโปรแกรมสะสมคะแนนแลกรับของรางวัล
                </p>

              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/0_3.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  เพิ่มวงเงินบัตรเครดิต ลูกค้าที่มีรายได้ระดับปานกลางขึ้นไปที่มีประวัติในการชำระหนี้ดี
                </p>
              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/0_4.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  ร่วมรายการส่งเสริมการขายกับสินค้า หรือ บริการที่เหมาะกับเพศชาย
                </p>
              </div>
            </article>
          </div>

          {% elif cluster == 1 %}
          <div class="swiper-wrapper">
            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/1_1.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  กระตุ้นการใช้จ่ายผ่านโปรแกรมสะสมคะแนนเพื่อแลกรับของรางวัล 
                </p>
              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/1_2.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  มอบสิทธิพิเศษระดับพรีเมียมเมื่อมียอดใช้จ่ายถึงระดับที่กำหนด
                </p>

              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/1_3.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  ร่วมรายการส่งเสริมการขายกับสินค้าหรือบริการที่เหมาะสมกับกลุ่มเพศชาย
                </p>
              </div>
            </article>
          </div>

          {% elif cluster == 2 %}
          <div class="swiper-wrapper">
            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/2_1.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  จัดโปรแกรมผ่อนชำระ 0% สำหรับสินค้าหรือบริการที่มีราคาสูง
                </p>
              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/2_2.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  เพิ่มวงเงินบัตรเครดิตสำหรับลูกค้าที่มีรายได้ปานกลางและมีประวัติการชำระหนี้ดี
                </p>

              </div>
            </article>

            <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="{{ url_for('static', filename='images/2_3.png') }}" alt="image" class="card__img">
                <div class="card__shadow"></div>
              </div>

              <div class="card__data">
                <p class="card__description">
                  ร่วมรายการส่งเสริมการขายกับสินค้าหรือบริการ โดยจัดโปรโมชั่นในรูปแบบคุ้มค่า เช่น จ่าย 1 ได้ 2 ชิ้น เพื่อเพิ่มความคุ้มค่าในการใช้จ่ายสำหรับลูกค้ากลุ่มนี้ที่มีงบประมาณจำกัด
                </p>
              </div>
            </article>
          </div>
          {% endif %}
          {% endif %}
        </div>

        <!-- Navigation buttons -->
        <div class="swiper-button-next">
          <!-- <i class="ri-arrow-right-s-line"></i> -->
        </div>

        <div class="swiper-button-prev">
          <!-- <i class="ri-arrow-left-s-line"></i> -->
        </div>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</body>
<script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>