*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    list-style: none;
    text-decoration: none;
   
}



.navbar{ 
    background: darkcyan; font-family: calibri; width: 100%; position: absolute; height: 50px; 
}
.navdiv{
    display:flex; align-items: center; justify-content:flex-end
    
}
li{
    list-style: none; display: inline-block; padding: 10px; text-decoration: none;
}
li a{
    color: rgb(217, 203, 203); font-size: 18px; font-weight: bold; margin-right: 25px;
}
li a:hover{
   color:rgb(41, 69, 69)

}

